services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - web

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    environment:
      - MINIO_ROOT_USER
      - MINIO_ROOT_PASSWORD
    command: server /data --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - web

  backend:
    build: ./backend
    environment:
      - BACKEND_PORT
      - S3_ENDPOINT
      - S3_REGION
      - S3_ACCESS_KEY
      - S3_SECRET_KEY
      - S3_BUCKET
      - PUBLIC_S3_URL
      - PRESIGN_TTL
      - MAX_AVATAR_SIZE
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
      - DATABASE_URL
    depends_on:
      - db
      - minio
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/app
      - backend_node_modules:/app/node_modules
    networks:
      - web

  frontend:
    build: ./frontend
    environment:
      - VITE_BACKEND_URL
    depends_on:
      - backend
    ports:
      - "3000:3000"
      - "3001:3001"
    volumes:
      - ./frontend:/app
      - frontend_node_modules:/app/node_modules
    networks:
      - web

volumes:
  pgdata:
  minio_data:
  frontend_node_modules:
  backend_node_modules:

networks:
  web:
    driver: bridge